slurm-*.out
vrun/*log*
*~
.a
*/*/*.so*
*/*/*.o
*/*/*/*.so*
*/*/*/*.o
.venv
*.pyc
*.toc
*.pkg
*.html
*.txt
*.log
*.pyz
*.zip
*.manifest
*.json
/analyzer/packaging/build
/analyzer/packaging/dist
Formulas_used.txt
__pycache__
settings.json
.DS_store
Result_report.csv
statistcs.csv
/si_exp/*.png
/si_exp/test-*.csv